/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./assets/styles/variables";
@import "./assets/styles/global";
@import "./assets/styles/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
